<!DOCTYPE html>
{% autoescape true %}
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
</head>
  <body>
    {% for greeting in greetings %}
      {% if greeting.author %}
        <b>{{ greeting.author.email }}
          {% if user and user.user_id() == greeting.author.identity %}
            (You)
          {% endif %}
        </b> wrote:
      {% else %}
       An anonymous person wrote:
      {% endif %}
      <blockquote>{{ greeting.content }}</blockquote>
    {% endfor %}
    <h3 align="center" >My Reservations:</h3>
    <table style="width:40%">
      <tr>
        <td>Resource Name</td>
        <td>Start Time</td> 
        <td>End Time</td>
      </tr>
      {% if reservations %}
        {% for reservation in reservations %}
          <tr>
            <td>{{reservation.resourceName}}</td>
            <td>{{reservation.startTime.strftime('%H:%M')}}</td>
            <td>{{reservation.endTime.strftime('%H:%M')}}</td>
          </tr>
        {% endfor %}
      {% endif %}
    </table>
    <hr>
    <h3 align="center" >Resources:</h3>
    <table style="width:100%">
      <tr>
        <td> Resource Name </td>
        <td> Availabilities </td>
        <td> Tags </td>
        <td> Owner </td>
        <td> Reservations </td>
      </tr> 
      {% if resources %}
        {% for resource in resources %}
          <tr>
            <td> {{resource.name}} </td>
            <td> {{resource.availability | processAvailabilities}} </td>
            <td> {{resource.tags | processTags }} </td>
            <td> {{resource.owner}} </td>
            <td> {{resource.reservations}} </td>
          </tr>
        {% endfor %}
      {% endif %}
    </table>
    <hr>

    <form action="/sign?guestbook_name={{ guestbook_name }}" method="post">
      <div><textarea name="content" rows="3" cols="60"></textarea></div>
      <div><input type="submit" value="Sign Guestbook"></div>
    </form>

    <hr>

    <form>Guestbook name:
      <input value="{{ guestbook_name }}" name="guestbook_name">
      <input type="submit" value="switch">
    </form>

    <hr>
    
    <form action="/addResource" method="get">
      <div><input type="submit" value="Add a Resource"></div>
    </form>
    
    <hr>

    <a href="{{ url|safe }}">{{ url_linktext }}</a>

  </body>
</html>
{% endautoescape %}