<!DOCTYPE html>
{% autoescape true %}
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
</head>
  <body>
    <h3 align="center" >Current and Upcoming Reservations for {{resource.name}}:</h3>
      <table style="width:100%">
        <tr>
          <td> Reserved by </td>
          <td> Start Time </td>
          <td> Duration </td>
        </tr> 
      {% if resource.reservations %}
        {% for reservation in resource.reservations %}
          <tr>
            <td> {{reservation.reservedBy}} </td>
            <td> {{reservation.startTime.strftime('%H:%M')}} </td>
            <td> {{reservation.duration}} </td>
          </tr>
        {% endfor %}
      {% endif %}
    </table>

    <hr>
    <a href="/addReservation?uid={{resource.uid}}"> Add Reservation </a> 

    <hr>

    {% if resource.owner == currentUser %}
    	<form action="/editResource?uid={{resource.uid}}" method="get">
      		<div><input type="submit" value="Edit Resource"></div>
    	</form>
    {% endif %}

  </body>
</html>
{% endautoescape %}